---
import Base from "../layouts/base.astro";

---

<Base>
    <div class="flex lg:h-screen min-h-screen flex-col bg-[#111318]" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="flex h-full grow flex-col">
      <div class="lg:px-40 flex flex-1 justify-center py-5">
          <div class="flex flex-col max-w-[960px] flex-1 px-24">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Acerca de Mythos</p></div>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              Mythos es un proyecto personal dedicado a explorar y compartir las fascinantes historias y personajes de las mitologías del mundo. Desde los dioses y héroes de la antigua Grecia hasta los espíritus y leyendas de las culturas indígenas, Mythos busca ofrecer una visión completa y accesible de la riqueza mitológica global. El sitio se encuentra en constante desarrollo, especialmente en lo relacionado a las imágenes, que no siempre resultan fáciles de conseguir.
            </p>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Mi Visión</h2>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              Mi visión es construir una biblioteca digital accesible y confiable sobre mitología global, donde cualquier persona pueda aprender, comparar culturas y comprender la importancia de estos relatos en la historia humana y en la sociedad actual.
            </p>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Contacto</h2>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              Para consultas, sugerencias o colaboraciones, puedes contactarnos a través de mi mail:
            </p>
            <div class="flex items-center gap-4 bg-[#111318] px-4 min-h-14">
              <div class="text-white flex items-center justify-center rounded-lg bg-[#282e39] shrink-0 size-10" data-icon="Envelope" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z"
                  ></path>
                </svg>
              </div>
              <p class="text-white text-base font-normal leading-normal flex-1 truncate">Correo electrónico: mapp81dev@gmail.com</p>
            </div>
            
            </div>
          </div>
        </div>
    </Base>